
* {
    box-sizing: border-box;
    
}


#container {
    display: grid;
    grid-template-columns: 4.5fr 20fr;
    grid-template-rows: 140px 800px 140px;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "Foot Foot";
    grid-gap: 10px;
    width: 85%;
    margin: auto;
}

header {
    background-color: rgb(229, 127, 255);
    grid-area: header;
    border: 2px solid;
}

.sidebar {
    background-color: rgb(229, 127, 255);
    grid-area: sidebar;
    border: 2px solid;
}

#mainwrapper {
    background-color: rgb(229, 127, 255);;
    border: solid 2px;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 5fr 20fr 5fr 30fr 5fr 16fr;
    grid-template-areas: 
        "sub1 sub1 sub1"
        "par1 par1 par1"
        "sub2 sub2 sub2"
        "parmid parmid2 parmid3"
        "sub3 sub3 sub3"
        "par4 par5 par5";
        grid-gap: 10px;
}

.footerdiv {
    background-color: rgb(229, 127, 255);
    grid-area: footer;
    border: 2px solid;
}

.Foot {
    background-color: rgb(229, 127, 255);
    grid-area: Foot;
    border: 2px solid;
}